@charset "utf-8";
@import url(http://reset5.googlecode.com/hg/reset.min.css);
/* CSS Document */
body {
	margin: 0; 
	padding: 0;
	background-color:#000;
}
#container{
	margin:0;
	padding:0;
	width:600px;
	margin-left: auto;
	margin-right: auto;
	border1:#F00 solid 1px;
	text-align:center;
}
@font-face {
    font-family: 'PristinaRegular';
    src: url('fonts/pristina-webfont.eot');
    src: url('fonts/pristina-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/pristina-webfont.woff') format('woff'),
         url('fonts/pristina-webfont.ttf') format('truetype'),
         url('fonts/pristina-webfont.svg#PristinaRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*menu css*/
#menu{
	margin-top:35px;
	margin-left:25px;
	margin-bottom:30px;
}
#menu a{
	font-family:"Pristina", "PristinaRegular", "Times New Roman", Times, serif;
	color:#FFF;
	float:left;
	font-size:50px;
	margin-left: 25px;
	margin-bottom:15px;
	text-decoration:none;
}
#menu a:hover{
	text-decoration:underline;
}
/*	text-indent1:-5000px;
	background1:left no-repeat top;
	display1:block;
	width1: 125px;
	height1: 65px;

*/
/*#menu .gallery{
	 background-image:url(images/gallery.png);
}
#menu .artist_info{
	 background-image:url(images/artist_info.png);
	 width:160px;
}
#menu .friends{
	 background-image:url(images/friends.png);
}
#menu .contact{
	 background-image:url(images/contact.png);
}
#menu .home{
	 background-image:url(images/home.png);
}
*/
#sign{
margin-top:30px;
}

/*start home_page css */
#home_pictures a{
	height:400px;
	width: 500px;
	display:inline-block;
	margin-top:20px;
	background-repeat:no-repeat;
	background-position:center center;
	cursor:default;
	border:0;
}
.main_pict_1 a{
	background-image:url(images/ink11.jpg);
	height:386px;
	border:double 4px #999;
}

.main_pict_1 a:hover{
	background-image:url(images/ink11.jpg);
}
.main_pict_2 a{
	background-image: url(images/pomegranate_bw.jpg);
	height:388px;
}
.main_pict_2 a:hover{
	background-image:url(images/pomegranate.jpg);
}
.main_pict_3 a{
	background-image: url(images/cofe_set_bw.jpg);
	height:399px;
}
.main_pict_3 a:hover{
	background-image:url(images/cofe_set.jpg);
}
.main_pict_4 a{
	background-image: url(images/france_bw.jpg);
	height:351px;
}
.main_pict_4 a:hover{
	background-image:url(images/france.jpg);
}
.main_pict_5 a{
	background-image: url(images/keta_bw.jpg);
	height:369px;
}
.main_pict_5 a:hover{
	background-image:url(images/keta.jpg);
}
.main_pict_6 a{
	background-image: url(images/lilian_bw.jpg);
	height:391px;
}
.main_pict_6 a:hover{
	background-image:url(images/lilian.jpg);
}
.main_pict_7 a{
	background-image: url(images/pepper_bw.jpg);
	height:390px;
}
.main_pict_7 a:hover{
	background-image:url(images/pepper.jpg);
}
.main_pict_8 a{
	background-image: url(images/tea_set_bw.jpg);
	height:376px;
}
.main_pict_8 a:hover{
	background-image:url(images/tea_set.jpg);
}
/*end home_page css*/
#page-contant{
	padding-left:20px;
	padding-right:20px;
}
p{
	color:#FFF;
	text-align:center;
	font-size:17px;	
}

#copyright p{
	padding-top:50px;
	padding-left:20px;
	color:#FFF;
	font-weight:bold;
	font-size:14px;
	font-weight:normal;
}
#copyright a{
	color:#FFF;
	text-decoration:none;	
}
#copyright a:hover{
	text-decoration:underline;	
}
#table_contact{
	text-align:left;
	color:#FFF;
	font-size:14px;
	line-height:16px;
	margin-left:50px;
		
}

#gallery a{
	font-family:"Pristina1", "PristinaRegular", "Times New Roman", Times, serif;
	font-size:26px;
	color:#FFF;
	float:left;
	text-decoration:none;
	padding-top:130px;
	margin:30px;
	width:125px;
	background-repeat:no-repeat;
	display:inline-block;
	text-align:center;
	background-position:top center;
}
.still_life{
	background-image:url(images/still_life_thb.jpg);
}
.still_life_pict{
	background-image:url(images/still_life.png);	
}
.landscape{
	background-image:url(images/landscape_thb.JPG);
}
.graphics{
	background-image:url(images/graphic_thb.jpg);
}
.figurative{
	background-image:url(images/figurative_thb.JPG);
}
.mixed_media{
	background-image:url(images/mixed_media_thb.jpg);
}
.dance{
	background-image:url(images/dance_thb.jpg);
}
.clear{
	clear:both;
}
h3{
	font-family:"Pristina1", "PristinaRegular", "Times New Roman", Times, serif;
	color:#FFF;
	font-size:28px;
	font-style1:italic;
	margin-bottom:15px;
	text-align:center;
}
#gallery_left_side{
	width:200px;
	float:left;
	margin-top:40px;	
	margin-left:-230px;
}
#gallery_left_side a{
	float:left;
	text-decoration:none;
	padding-top1:5px;
	margin:8px;
	width:80px;
	height:80px;
	background-repeat:no-repeat;
	display:inline-block;
	text-align:center;
	background-position:top center;

}
#gallery_main_side{
	float:left;	
	width:600px;
	text-align:center;
	margin-top:80px;
}
#gallery_main_side span{
	color:#FFF;
	font-size:16px;
}
#gallery_main_side a{
	text-decoration:none;
	width:500px;
	background-repeat:no-repeat;
	display:inline-block;
	text-align:center;
	background-position:top center;
	cursor:default;
}
#to_order{
	margin-top:20px;
	margin-left:40px;
	color:#CCC;
	font-size:12px;
	font-style:italic;
}
#to_order a{
	color:#FFF;
	text-decoration:none;
}
#to_order a:hover{
	color:#FFF;
	text-decoration:underline;
}

#other_gallery{
	font-size:18px;
	font-style:italic;	
	color:#FFF;
	margin-top:20px;
}
#other_gallery a{
	text-decoration:none;
	font-size:16px;
	font-style:italic;	
	color:#FFF;
}
#other_gallery a:hover{
	text-decoration:underline;
}
/*still live page*/ 
#gallery_left_side .apple{
	background-image:url(images/apple_sm.jpg);
}
#gallery_main_side .apple{
	background-image:url(images/apple.jpg);
	padding-top:380px;
}

#gallery_left_side .cofe_set{
	background-image:url(images/cofe_set_sm.jpg);
}
#gallery_main_side .cofe_set{
	background-image:url(images/cofe_set.jpg);
	padding-top:410px;
}

#gallery_left_side .flowers{
	background-image:url(images/flowers_sm.jpg);
}
#gallery_main_side .flowers{
	background-image:url(images/flowers.jpg);
	padding-top:520px;
}

#gallery_left_side .lilian{
	background-image:url(images/lilian_sm.jpg);
}
#gallery_main_side .lilian{
	background-image:url(images/lilian.jpg);
	padding-top:410px;
}

#gallery_left_side .mandarins{
	background-image:url(images/mandarins_sm.jpg);
}
#gallery_main_side .mandarins{
	background-image:url(images/mandarins.jpg);
	padding-top:390px;
}

#gallery_left_side .pepper{
	background-image:url(images/pepper_sm.jpg);
}
#gallery_main_side .pepper{
	background-image:url(images/pepper.jpg);
	padding-top:410px;
}

#gallery_left_side .pomegranate{
	background-image:url(images/pomegranate_sm.jpg);
}
#gallery_main_side .pomegranate{
	background-image:url(images/pomegranate.jpg);
	padding-top:410px;
}
#gallery_left_side .tea_set{
	background-image:url(images/tea_set_sm.jpg);
}
#gallery_main_side .tea_set{
	background-image:url(images/tea_set.jpg);
	padding-top:400px;
}

/*landscape*/
#gallery_left_side .france{
	background-image:url(images/france_sm.jpg);
}
#gallery_main_side .france{
	background-image:url(images/france.jpg);
	padding-top:380px;
}
#gallery_left_side .village{
	background-image:url(images/village_sm.jpg);
}
#gallery_main_side .village{
	background-image:url(images/village.jpg);
	padding-top:410px;
}
#gallery_left_side .island{
	background-image:url(images/island_sm.jpg);
}
#gallery_main_side .island{
	background-image:url(images/island.jpg);
	padding-top:400px;
}
#gallery_left_side .valley{
	background-image:url(images/valley_sm.jpg);
}
#gallery_main_side .valley{
	background-image:url(images/valley.jpg);
	padding-top:410px;
}
/*dance*/
#gallery_left_side .dance{
	background-image:url(images/dance_sm.jpg);
}
#gallery_main_side .dance{
	background-image:url(images/dance.jpg);	
	padding-top:520px;
	margin-top:70px;
}
#gallery_left_side .dance1{
	background-image:url(images/dance1_sm.jpg);
}
#gallery_main_side .dance1{
	background-image:url(images/dance1.jpg);	
	padding-top:520px;
	margin-top:70px;
}
#gallery_left_side .dance2{
	background-image:url(images/red_sm.jpg);
}
#gallery_main_side .dance2{
	background-image:url(images/red.jpg);	
	padding-top:520px;
	margin-top:70px;
}
#gallery_left_side .dance3{
	background-image:url(images/dance3_sm.jpg);
}
#gallery_main_side .dance3{
	background-image:url(images/dance3.jpg);	
	padding-top:520px;
	margin-top:70px;
}
#gallery_left_side .dance4{
	background-image:url(images/dance4_sm.jpg);
}
#gallery_main_side .dance4{
	background-image:url(images/dance4.jpg);	
	padding-top:520px;
	margin-top:70px;
}
#gallery_left_side .dance5{
	background-image:url(images/dance5_sm.jpg);
}
#gallery_main_side .dance5{
	background-image:url(images/dance5.jpg);	
	padding-top:520px;
	margin-top:70px;
}
#gallery_left_side .dance6{
	background-image:url(images/dance6_sm.jpg);
}
#gallery_main_side .dance6{
	background-image:url(images/dance6.jpg);	
	padding-top:520px;
	margin-top:70px;
}
#gallery_left_side .dance7{
	background-image:url(images/dance7_sm.jpg);
}
#gallery_main_side .dance7{
	background-image:url(images/dance7.jpg);	
	padding-top:520px;
	margin-top:70px;
}
#gallery_left_side .dance8{
	background-image:url(images/dance8_sm.jpg);
}
#gallery_main_side .dance8{
	background-image:url(images/dance8.jpg);	
	padding-top:520px;
	margin-top:70px;
}
#gallery_left_side .dance9{
	background-image:url(images/dance9_sm.jpg);
}
#gallery_main_side .dance9{
	background-image:url(images/dance9.jpg);	
	padding-top:420px;
	margin-top:70px;
}
#gallery_left_side .dance10{
	background-image:url(images/dance10_sm.jpg);
}
#gallery_main_side .dance10{
	background-image:url(images/dance10.jpg);	
	padding-top:520px;
	margin-top:70px;
}
#gallery_left_side .dance11{
	background-image:url(images/dance11_sm.jpg);
}
#gallery_main_side .dance11{
	background-image:url(images/dance11.jpg);	
	padding-top:520px;
	margin-top:70px;
}
#gallery_left_side .dance12{
	background-image:url(images/dance12_sm.jpg);
}
#gallery_main_side .dance12{
	background-image:url(images/dance12.jpg);	
	padding-top:520px;
	margin-top:70px;
}
#gallery_left_side .dance13{
	background-image:url(images/dance13_sm.jpg);
}
#gallery_main_side .dance13{
	background-image:url(images/dance13.jpg);	
	padding-top:520px;
	margin-top:70px;
}

/*mixed media*/
#gallery_left_side .face_night{
	background-image:url(images/face_night_sm.jpg);
}
#gallery_main_side .face_night{
	background-image:url(images/face_night.jpg);
	padding-top:520px;
}
#gallery_left_side .keta{
	background-image:url(images/keta_sm.jpg);
}
#gallery_main_side .keta{
	background-image:url(images/keta.jpg);
	padding-top:390px;
}
#gallery_left_side .she{
	background-image:url(images/she_sm.jpg);
}
#gallery_main_side .she{
	background-image:url(images/she.jpg);
	padding-top:520px;
}
#gallery_left_side .couple{
	background-image:url(images/couple_sm.jpg);
}
#gallery_main_side .couple{
	background-image:url(images/couple.jpg);
	padding-top:520px;
}
/*figurative*/
#gallery_left_side .bandoneonist{
	background-image:url(images/bandoneonist.jpg);
}
#gallery_main_side .bandoneonist{
	background-image:url(images/bandoneonist.jpg);
	padding-top:520px;
}
#gallery_left_side .bandoneonist_2{
	background-image:url(images/bandoneonist_new_sm.jpg);
}
#gallery_main_side .bandoneonist_2{
	background-image:url(images/bandoneonist_new.jpg);
	padding-top:520px;
}

/*graphics*/
#gallery_left_side .ink_dreams{
	background-image:url(images/ink_sm.jpg);
}
#gallery_main_side .ink_dreams{
	background-image:url(images/ink11.jpg);
	padding-top:430px;
}
#gallery_left_side .ink_bandoneonist{
	background-image:url(images/ink_bandoneon_sm.jpg);
}
#gallery_main_side .ink_bandoneonist{
	background-image:url(images/ink_bandoneon.jpg);
	padding-top:530px;
}
#contact_img{
	float:left;
	margin-right:60px;	
	margin-left:-10px;
}
.contact_link a{
	color:#FFF;
	text-decoration:none;	
}